.bleu {

    color: blue;
}

h3,
i,
span {

    font-size: small;
}

i {
    color: #0065FC;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}

img {
    width: 20%;
}

}
header {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}


body {

    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

.filtre {

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
    padding-right: 60%;
}



.hebergements{
    width: 25%;
    display: inline-flex;
    
}

.cartes-hebergements{
    display: flex; 
    flex-wrap: wrap;
}





footer{

    display: flex;
    justify-content: space-between;
    width: 70%;



}